#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--m-lg);
}

#hero .profile {
    height: 15rem;
    border-radius: var(--round);
    margin: 0 auto;
    margin-bottom: var(--m-sm);
}

#hero .about {
    text-align: center;
    margin-bottom: var(--m-md);
    opacity: 0.6;
}

#hero .title01 {
    font-size: var(--fs-md);
    margin-bottom: var(--m-md);
}

#hero .title02 {
    font-size: var(--fsh-lg);
    color: var(--color-green);
}

.home-btns {
    display: flex;
    gap: 2rem;
}
