.education-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-md);
}

.education-container .education {
    position: relative;
    padding: var(--p-md);
    background-color: var(--bg-white);
    border-radius: var(--round-1);
    box-shadow: var(--shadow-grey-2);
    border: var(--border-grey);
    cursor: pointer;
}

.education-container .education:hover {
    box-shadow: 0px 0px 0px -1px rgb(var(--color-green));
}

.education h3 {
    font-size: var(--fsh-md);
    color: rgb(var(--color-green));
    margin-bottom: var(--m-sm);
    font-family: var(--sans-serif);
}

.education p:nth-child(3) {
    opacity: var(--txt-opacity);
    margin-top: var(--m-esm);
}

.education .count {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: var(--round-p5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--color-green));
    font-weight: bold;
    border: var(--border-green);
}
